body {
  background: #a5c5f7;
}


.danny {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: #5d1fa8;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: "Papyrus", Palatino, Helvetica;
  margin: auto 0;
  background: #9199a5;
  max-width: 100%;
}


.smaller {
  font-size: 16px;
}


.column-layout {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  text-align: -webkit-center;
  line-height: 1.65;
  justify-content: center;
}


.project {
  display: flex;
  flex: 6;
  order: 2;
  max-width: 1400px;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #a5c5f7;
  padding-top: 16px;
  align-items: flex-start;
}


.main {
  display: flex;
  flex: 6;
  order: 2;
  background: #a5c5f7;
  justify-content: center;
  max-width: 1400px;
  padding: 0;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}


.sidebar-one {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  min-width: 180px;
  flex: 1;
  order: 1;
  font-family: Arial;
  justify-content: center;
  color: #5d1fa8;
  background: #9199a5;
  font-size: 20px;
  font-family: "titin", Papyrus;
  font-weight: bold;
  padding: 15px;
}


.flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: -webkit-center;
  max-width: 100%;
  min-width: 315px;
  height: auto;
}



.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: -webkit-center;
  width: 150px;
  height: auto;
}


.item {
  display: flex;
  order: 2;
  flex-flow: column;
  height: auto;
  width: 350px;
  justify-content: center;
  flex: 1;
}


.border {
  border: 5px double  #333131;
  border-radius: 10px;
  display: flex;
  max-width: 150px;
  height: auto;
}
